{{> nav }}
<link rel="stylesheet" href="/style.css">
<script src="/script.js"></script>
<h1>Welcome to the home page!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse maiores neque fuga, non autem maxime dolorum odit tempore. Veniam, ad sunt dolorem numquam saepe minima facere modi vel tempore iusto.</p>

{{> footer}}